body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.first-page {
  height: 100vh;
  background-color: #777;
}

.second-page {
  min-height: 100vh;
  background-color: #fff;
}

.sheep-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1/1;
  max-width: 70%;
  max-height: 70%;
  user-select: none;
  pointer-events: none;
}

.sheep-head-container {
  position: absolute;
  height: 35%;
  width: 40%;
  left: 60%;
  bottom: 45%;
  animation: neck-swing-animation 40s ease 0s infinite normal forwards;
}

.sheep-fur {
  animation: hue-rotate 8s linear infinite;
}

.sheep-body {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sheep-head-fur {
  margin: 0;
  height: 100%;
}

.sheep-head {
  height: 100%;
  position: absolute;
  right: 0;
}

.sheep-head-right {
  width: 25%;
  animation: head-right-anim 13s ease 0s infinite normal forwards;
}

.sheep-head-right.sheep-fur {
  animation: head-right-anim 13s ease 0s infinite normal forwards,
    hue-rotate 8s linear infinite;
}

.sheep-head-left {
  width: 75%;
  animation: head-left-anim 13s ease 0s infinite normal forwards,
    hue-rotate 8s linear infinite;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes head-right-anim {
  50% {
    width: 35%;
  }
}

@keyframes head-left-anim {
  50% {
    width: 65%;
  }
}

@keyframes neck-swing-animation {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 40% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(16deg);
  }

  45% {
    transform: translateX(-15px) rotate(12deg);
  }

  75% {
    transform: translateX(-6px) rotate(32deg);
  }

  85% {
    transform: translateX(-6px) rotate(16deg);
  }
}
